__pycache__/
*.pyc
.venv/
.env
models/base/
models/trained/features/
models/trained/checkpoint_*
models/trained/target.pth
models/trained/voz_*.pth
models/trained/*.stats.npy
models/profiles/
voces_audios_crudos/
*.onnx
*.pth
.DS_Store
_*.wav
RVC_WebUI/
RVC1006Intel.7z
models/base/f0G40k.pth
